fastapi==0.128.8
uvicorn[standard]==0.39.0

sqlalchemy==2.0.49
psycopg2-binary==2.9.12
alembic==1.16.5

pydantic==2.13.4
pydantic-settings==2.11.0
python-dotenv==1.2.1

python-jose[cryptography]==3.5.0
bcrypt==5.0.0

httpx==0.28.1

cachetools==6.2.6

email-validator==2.3.0

python-multipart==0.0.20

loguru==0.7.3
